*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
    color:white;
    text-align:center;
}

header{
    background:rgba(0,0,0,0.3);
    padding:20px;
    backdrop-filter:blur(10px);
}

header h1{
    font-size:35px;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:12px;
    font-size:20px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:yellow;
}

.hero{
    padding:50px 20px;
}

.profile-photo{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid white;
    box-shadow:0 0 25px cyan;
    margin-bottom:20px;
}

.name{
    color:#00ffff;
    font-size:48px;
}

.intro{
    max-width:850px;
    margin:auto;
    font-size:22px;
    line-height:1.8;
    margin-top:20px;
}

.btn{
    display:inline-block;
    margin:15px;
    padding:15px 35px;
    background:#00c3ff;
    color:white;
    text-decoration:none;
    border-radius:12px;
    font-size:22px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#0099cc;
    transform:scale(1.08);
}

.about-home,
.features,
.goal,
.contact-home{
    width:90%;
    max-width:1000px;
    margin:40px auto;
    background:rgba(255,255,255,.12);
    padding:30px;
    border-radius:20px;
    backdrop-filter:blur(12px);
}

.about-home h2,
.features h2,
.goal h2,
.contact-home h2{
    font-size:36px;
    margin-bottom:20px;
}

.about-home p,
.goal p,
.contact-home p,
.feature-box p{
    font-size:22px;
    line-height:1.8;
}

.feature-box h3{
    margin-top:25px;
    color:#00ffff;
    font-size:28px;
}

.question{
    width:90%;
    max-width:900px;
    margin:25px auto;
    background:white;
    color:black;
    padding:25px;
    border-radius:15px;
}

.question h3{
    font-size:30px;
}

.question p{
    font-size:24px;
    margin:15px 0;
}

.question button{
    display:block;
    width:100%;
    margin:10px 0;
    padding:15px;
    font-size:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.question button:hover{
    background:#2563eb;
    color:white;
}

#finalResult{
    width:90%;
    max-width:700px;
    margin:30px auto;
    background:#ffffff;
    color:black;
    padding:25px;
    border-radius:15px;
    font-size:28px;
    font-weight:bold;
}

#score,
#timer{
    font-size:30px;
    color:yellow;
}

footer{
    margin-top:50px;
    padding:20px;
    background:rgba(0,0,0,.4);
    font-size:18px;
}

@media(max-width:768px){

header h1{
font-size:28px;
}

nav a{
display:block;
margin:10px;
font-size:18px;
}

.profile-photo{
width:170px;
height:170px;
}

.name{
font-size:36px;
}

.intro{
font-size:18px;
}

.btn{
font-size:18px;
padding:12px 25px;
}

.question h3{
font-size:24px;
}

.question p{
font-size:20px;
}

.question button{
font-size:18px;
}

}